[submodule "external-libraries/sdsl-lite"]
	path = wavelet_trie/external-libraries/sdsl-lite
    url = https://github.com/simongog/sdsl-lite.git
    ignore = untracked
[submodule "external-libraries/rollinghashcpp"]
	path = annograph/bloom_annotator/external-libraries/rollinghashcpp
    url = https://github.com/hmusta/rollinghashcpp
